<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.jwj439.dao.UserDao">
	<select id="login" parameterType="User" resultType="User">
		select * from
		ssm_user where userName=#{userName} and password=#{password} limit 1
	</select>
</mapper>