<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!--开启注解的扫描，希望处理service和dao，controller不需要Spring框架去处理 -->
	<context:component-scan
		base-package="edu.jwj439">
		<!--配置哪些注解不扫描 -->
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!--Spring整合MyBatis框架 -->
	<!--配置连接池 -->
	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql:///ssm" />
		<property name="user" value="root" />
		<property name="password" value="root" />
	</bean>

	<!--配置SqlSessionFactory工厂 -->
	<bean id="sqlSessonFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- 自动扫描mappers.xml文件 -->
        <property name="mapperLocations" value="classpath:/mappers/*.xml"></property>
         <!-- mybatis配置文件 -->
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>

	<!--配置IAccountdao接口所在包 -->
	<bean id="mapperScanner"
		class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="edu.jwj439.dao" />
	</bean>

	<!--配置Spring框架声明式事务管理 -->
	<!--配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!--配置事务通知 -->
	<tx:advice id="txAdvice"
		transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="find*" read-only="true" />
			<tx:method name="*" isolation="DEFAULT" />
		</tx:attributes>
	</tx:advice>

	<!--配置AOP增强 -->
	<aop:config>
		<aop:advisor advice-ref="txAdvice"
			pointcut="execution(* edu.jwj439.service.Impl.*ServiceImpl.*(..))" />
	</aop:config>



</beans>
