<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.jwj439.stats.dao.StatsMapper">
	<!--查询公司年度业绩-->
    <select id="queryCompanyYearGradeStat" resultType="java.lang.Double">
        select sum(order_pay) from bus_order where
		DATE_FORMAT(order_createtime,"%Y%m")=concat(#{value},'01')
		UNION all
		select
		sum(order_pay) from bus_order where
		DATE_FORMAT(order_createtime,"%Y%m")=concat(#{value},'02')
		UNION all
		select
		sum(order_pay) from bus_order where
		DATE_FORMAT(order_createtime,"%Y%m")=concat(#{value},'03')
		UNION all
		select
		sum(order_pay) from bus_order where
		DATE_FORMAT(order_createtime,"%Y%m")=concat(#{value},'04')
		UNION all
		select
		sum(order_pay) from bus_order where
		DATE_FORMAT(order_createtime,"%Y%m")=concat(#{value},'05')
		UNION all
		select
		sum(order_pay) from bus_order where
		DATE_FORMAT(order_createtime,"%Y%m")=concat(#{value},'06')
		UNION all
		select
		sum(order_pay) from bus_order where
		DATE_FORMAT(order_createtime,"%Y%m")=concat(#{value},'07')
		UNION all
		select
		sum(order_pay) from bus_order where
		DATE_FORMAT(order_createtime,"%Y%m")=concat(#{value},'08')
		UNION all
		select
		sum(order_pay) from bus_order where
		DATE_FORMAT(order_createtime,"%Y%m")=concat(#{value},'09')
		UNION all
		select
		sum(order_pay) from bus_order where
		DATE_FORMAT(order_createtime,"%Y%m")=concat(#{value},'10')
		UNION all
		select
		sum(order_pay) from bus_order where
		DATE_FORMAT(order_createtime,"%Y%m")=concat(#{value},'11')
		UNION all
		select
		sum(order_pay) from bus_order where
		DATE_FORMAT(order_createtime,"%Y%m")=concat(#{value},'12')
    </select>
    
    <!--查询业务员年度业绩-->
    <select id="queryOpernameYearGradeStat" resultType="edu.jwj439.stats.entity.BaseEntity">
      select order_operator as name,sum(order_pay) as value from bus_order where DATE_FORMAT(order_createtime,"%Y")=#{value} GROUP BY order_operator
    </select>
</mapper>