<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1" metadata-complete="true">
	<servlet>
	    <servlet-name>hw</servlet-name>
	    <servlet-class>edu.jwj439.servlet.HelloWorld</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>hw</servlet-name>
	    <url-pattern>/helloWorld</url-pattern>
	</servlet-mapping>
</web-app>